@import url(//db.onlinewebfonts.com/c/3a025ae92e6446cec24efcb6d29e5bf3?family=Malgun+Gothic);

body {
  margin: 0px;
  padding: 0px;
  font-size: 1.5rem;
  font-family: "malgun gothic", sans-serif;
  color: #5e574d;
}

header {
  display: grid;
  grid-template-areas: "box1";
}

.box1 {
  background-color: white;
  height: 90px;
  grid-area: box1;
}

.box2 {
  background-image: url(../img/explorer.jpg);
  grid-area: box2;
  height: 720px;
  width: 1350x;
  background-size: cover;
  background-position: 50% 10%;
}

.box3 {
  background-color: white;
  height: 300px;
  grid-area: box3;
  font-size: 1rem;
  display: flex;
}

.box4 {
  background-color: green;
  height: 400px;
  grid-area: box4;
}

.box5 {
  background-color: #d9c8b4;
  height: 250px;
  grid-area: box5;
}

.logo {
  background-image: url(../img/logo.png);
  width: 340px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 15px;
  margin-left: 10px;
}
nav {
  margin-top: 8px;
  margin-right: 100px;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  color: #5e574d;
  text-decoration: none;
  font-size: 1.125rem;
  margin: 25px;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
}

nav ul li a:hover {
  color: #f3cf7d;
  text-decoration: transparent;
}

.icons {
  margin: 20px;
  justify-content: space-evenly;
  padding: 10px;
  font-size: 1.75rem;
  margin-left: 20px;
}

.fa-search {
  padding-left: 10px;
}

.fa-user {
  padding-left: 10px;
}

.fa-heart {
  padding-left: 10px;
}

.fa-shopping-cart {
  padding-left: 10px;
}

.fa-search:hover {
  color: #b1aca6;
  text-decoration: transparent;
}

.fa-user:hover {
  color: #b1aca6;
  text-decoration: transparent;
}

.fa-heart:hover {
  color: #b1aca6;
  text-decoration: transparent;
}

.fa-shopping-cart:hover {
  color: #b1aca6;
  text-decoration: transparent;
}

.customer-service {
  font-size: 20px;
  font-weight: bold;
  padding-left: 80px;
}
.footer-1 {
  font-size: 16px;
  list-style-type: none;
}
.footer-1 li a {
  text-decoration: none;
  color: #5e574d;
}
.footer-1 a:hover {
  color: #b1aca6;
  text-decoration: transparent;
}

@media (max-width: 1200px) {
  /*Desktop*/
}

@media (max-width: 991px) {
  /*Tablet*/
}

@media (max-width: 767px) {
  .box1 {
    height: auto;
  }

  .logo {
    width: 100%;
  }

  nav {
    width: 100%;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
  }

  .icons {
    margin: 0px;
    justify-content: space-evenly;
    padding: 0;
    margin-left: 0px;
    text-align: center;
  }

  .navigation {
    flex-direction: column;
  }

  .box2 {
    height: 250px;
    width: 370px;
  }

  /*Mobile*/
}
