@import url(//db.onlinewebfonts.com/c/3a025ae92e6446cec24efcb6d29e5bf3?family=Malgun+Gothic);

body,
html {
  height: 100vh;
}

body {
  font-size: 1.5rem;
  font-family: "malgun gothic", sans-serif;
  color: #5e574d;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 30% 30% 1fr;
  grid-template-rows: 10% 120% 200% 20%;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer";
}

/*HEADER*/

header {
  grid-area: header;
  background-color: white;
  height: 60px;
  grid-area: box1;
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  padding: 25px;
  padding-top: 0;
}

.logo {
  background-image: url(../img/logo.png);
  width: 310px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 15px;
  margin-right: 40px;
}

nav {
  margin-top: 2px;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  color: #5e574d;
  text-decoration: none;
  font-size: 1.125rem;
  margin: 25px;
}

nav ul li a:hover {
  border-bottom: 3px solid #aca885;
  padding-bottom: 4px;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
}

.signin {
  font-size: 0.875rem;
  color: #5e574d;
  background-color: #aca885;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  font-family: "Montserrat", sans-serif;
  padding: 6px;
  outline: none;
  margin-right: 80px;
  margin-top: 30px;
  width: 65%;
  box-shadow: 0 0 3px 0px #5e574d;
}

.signin:hover {
  background-color: #b9b592;
  outline: none;
}

.icons {
  margin: 25px;
  font-size: 1.75rem;
}

.fa-search {
  padding-left: 10px;
}

.fa-heart {
  padding-left: 15px;
}

.fa-shopping-cart {
  padding-left: 15px;
}

.fa-search:hover {
  color: #6d6459;
  text-decoration: transparent;
}

.fa-heart:hover {
  color: #6d6459;
  text-decoration: transparent;
}

.fa-shopping-cart:hover {
  color: #6d6459;
  text-decoration: transparent;
}

/*MAIN*/

main {
  grid-area: main;
  width: 100%;
  background-image: url(../img/explorer.jpg);
  height: 670px;
  width: 1350x;
  background-size: cover;
}

h1 {
  position: relative;
  top: 140px;
  right: 300px;
  text-align: center;
  font-size: 5.625rem;
  margin-top: -30px;
}

.imagetext {
  position: relative;
  text-align: center;
  right: 300px;
  top: 60px;
  font-size: 1.25rem;
}

.shopnow {
  color: #5e574d;
  background-color: #aca885;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding: 8px;
  margin: 30px;
  width: 18%;
  outline: none;
  box-shadow: 0 0 3px 0px #5e574d;
}

.shopnow:hover {
  background-color: #b9b592;
  outline: none;
}

h2 {
  background-color: #f2ebdc;
  height: 100px;
  margin: 40px;
  margin-top: 390px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 0 3px 0px #f2ebdc;
}

.jacket-container {
  display: flex;
}

.rainjacket {
  display: inline-block;
  justify-content: space-evenly;
  margin-left: 46px;
  margin-top: 10px;
  height: 330px;
  font-size: 1rem;
}

.price-text {
  font-size: 1.125rem;
  display: inline-block;
}

.price {
  margin-left: 95px;
  margin-top: 15px;
}

h3 {
  font-size: 5.625rem;
  background-color: #aca885;
  height: 270px;
  text-align: center;
  box-shadow: 0 0 1px 0px #5e574d;
  margin: 45px;
  line-height: 250px;
  text-decoration-line: underline;
  margin-top: 60px;
}

.sale-img {
  display: flex;
  justify-content: space-evenly;
  margin: 60px;
}

.black-backpack {
  height: 500px;
}

.sale-backpacks {
  height: 500px;
}

.fox-backpack {
  height: 500px;
}

/*FOOTER*/

footer {
  grid-area: footer;
  background-color: #d9d0bf;
  font-size: 0.875rem;
  height: 350px;
  display: flex;
  flex-flow: row;
}

footer ul {
  list-style: none;
}

h4 {
  font-size: 1.125rem;
}

footer li a {
  color: #5e574d;
  line-height: 28px;
  text-decoration: none;
}

.links {
  margin-top: 20px;
  margin-left: 5%;
  text-decoration: none;
}

.links2 {
  text-align: left;
  margin-left: 5%;
  margin-top: 20px;
}

footer li a:hover {
  text-decoration: underline;
}

.socials {
  font-size: 1.75rem;
  margin-left: 5%;
  margin-top: 22%;
  text-align: center;
}

.fa-instagram {
  padding-left: 15px;
}

.fa-youtube {
  padding-left: 15px;
}

.fa-facebook-f:hover {
  color: #6d6459;
  text-decoration: transparent;
}

.fa-instagram:hover {
  color: #6d6459;
  text-decoration: transparent;
}

.fa-youtube:hover {
  color: #6d6459;
  text-decoration: transparent;
}

@media (max-width: 1200px) {
  /*Desktop*/
}

@media (max-width: 991px) {
  /*Tablet*/
}

@media (max-width: 767px) {
  /*Mobile*/

  body {
    width: fit-content;
  }

  main {
    height: auto;
    height: auto;
    min-width: 100%;
  }

  .logo {
    width: 200px;
    text-align: center;
  }

  .fa-search {
    text-align: left;
  }

  nav {
    width: 100%;
    display: none;
    text-align: center;
  }

  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }
}
