@import url(//db.onlinewebfonts.com/c/3a025ae92e6446cec24efcb6d29e5bf3?family=Malgun+Gothic);

body {
  font-size: 1.5rem;
  font-family: "malgun gothic", sans-serif;
  color: #5e574d;
  display: grid;
  grid-template-areas:
    "header"
    "hero"
    "main"
    "form"
    "footer";
}
