@media (max-width: 991px) {
  /*Tablet*/

  .jacket {
    grid-area: jackets;
    display: grid;
    grid-template-areas:
      "headline headline"
      "jacketcard jacketcard1"
      "jacketcard2 jacketcard3";
  }
  footer {
    width: 100%;
  }
  .salesbox-3 {
    display: none;
  }
  .salesbox-4 {
    display: none;
  }

  .logo {
    width: 80%;
    margin-left: 20px;
  }

  .logo-container {
    margin-right: 0px;
  }

  ul {
    margin: 20px;
    width: 110%;
    padding-left: 0px;
  }

  nav ul li a {
    font-size: 0.9375rem;
    margin-left: 0px;
  }

  .icons {
    font-size: 1.125rem;
    width: 20%;
    margin: 30px;
    margin-right: 60px;
  }

  .signin {
    display: none;
  }

  .imagetext {
    top: 90px;
  }

  .specific-box2 {
    grid-area: specific-box2;
    display: none;
  }

  .about_container {
    display: grid;
    grid-template-areas:
      "about-text"
      "about-image";
  }

  .mountainhiker_img {
    height: 460px;
    margin-left: 40px;
  }

  .button_message {
    width: 25%;
    margin-left: 44%;
  }

  .contact_container {
    display: grid;
    grid-template-areas:
      "box_1"
      "box_2";
    margin-bottom: 5%;
  }

  .headline_1 {
    margin-top: 20%;
    margin-bottom: 0%;
  }

  .h2_contact,
  .opening_hours {
    text-align: center;
  }

  .contact_box2 {
    grid-area: box_2;
    margin: auto;
    margin-top: 15%;
  }

  .textbox_form {
    margin-left: 2px;
  }

  .button_message {
    margin-top: 2%;
    width: 99%;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  /*Mobile*/

  body {
    width: fit-content;
  }

  main {
    min-width: 100%;
  }

  .logo {
    width: 200px;
    text-align: center;
  }

  .fa-search {
    text-align: left;
  }

  nav {
    width: 100%;
    display: none;
    text-align: center;
  }

  .about_box1 {
    grid-area: about-text;
    width: 95%;
  }

  .mountainhiker_img {
    height: 215px;
    margin-left: 18px;
  }

  .h1_about {
    margin-top: 15%;
  }

  .img-mountain {
    margin-top: 25%;
  }

  .continue-shopping {
    width: 22%;
    font-size: 0.875rem;
  }

  .headline_1 {
    margin-top: 30%;
    margin-bottom: 10%;
  }

  .h2_contact,
  .opening_hours {
    text-align: center;
    margin-top: 10%;
  }

  .input-subscribe,
  .subscribe {
    display: flex;
    margin: auto;
  }

  .subscribe {
    margin-top: 4%;
    width: 30%;
  }
  .box0 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .checkout-container {
    display: grid;
    grid-template-areas:
      "cart"
      "discount"
      "information";
  }

  .checkout-box {
    grid-area: cart;
    width: 75%;
  }

  .checkout-box4 {
    grid-area: information;
    width: 100%;
  }

  .border-line,
  .border-line2 {
    margin: auto;
    width: 360px;
    margin-top: 30px;
  }

  .other_forms {
    width: 90%;
  }

  .payment_cards {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
  }

  .place_order {
    width: 84%;
    margin-left: 8%;
    margin-bottom: 5%;
  }

  .h3_payment {
    text-align: center;
  }
}
