.h1-womens {
  margin-top: 100px;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 20px;
}

/* .main-women {
  display: grid;
  grid-template-areas:
    "aside jacketcontainer jacketcontainer"
    "aside jacketcontainer jacketcontainer"
    "aside jackercontainer jacketcontainer";
} */

/* .aside {
  grid-area: aside;
  text-align: left;
} */

.categorie-links {
  list-style: none;
  display: inline-block;
  text-align: left;
  margin-top: -10px;
}

.categorie-links li a {
  color: #5e574d;
  font-size: 1rem;
  line-height: 35px;
  text-decoration: none;
}

.underline:hover {
  text-decoration-line: underline;
  color: #aca885;
}

input[type="checkbox"] {
  border-radius: 10px;
}

input[type="checkbox"] + label {
  font-size: 1rem;
}

.border-bottom {
  border-bottom: solid 3px #aca885;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 50%;
}

.border-bottom2 {
  border-bottom: solid 3px #aca885;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
}

.sizes {
  font-size: 1rem;
  padding: 5px;
  margin-left: 30px;
}

.colour {
  font-size: 1rem;
  padding: 5px;
  margin-left: 30px;
}

.rainjacket-box {
  /* grid-area: jacketcontainer; */
  display: grid;
  grid-template-areas:
    "card card2 card3"
    "line line line"
    "card4 card5 card6";
}

.jacketsimage {
  height: 350px;
  border-radius: 10px;
}
